h1 {
  text-align: center;
  font-size: 60px;
}
#main {
  margin-left: 250px;
  height: 250px;
  width: 800px;
  border: 5px solid black;
  border-radius: 20px;
}
#button_main {
  margin-top: 50px;
  margin-left: 110px;
}
button {
  height: 70px;
  width: 180px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 25px;
}
#past_list {
  list-style-type: square;
}
#past_list li {
  font-size: 20px;
  font-weight: bold;
  padding-right: 35px;
  float: left;
}
body {
  background-color: #00a86b;
}
